body {
    margin: 0;
}

a {
    text-decoration: none;
}

.menu {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 3%;
    box-shadow: 0px 0px 20px 0px rgba(21, 47, 95, 0.2);
}