body {
    margin: 0;
}

a {
    text-decoration: none;
}

.menu {
    z-index: 99999;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.menu__item {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-transform: uppercase;
}

.menu__link {
    color: #fff;
}

.header {
    background-image: url(../images/dinner-dish-egg-54455.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 89%);
}
